song_columns_list_format = (1f)[]{:} (1)[blue]{}(2f)[]{:▷} (25)[blue]{a} (8)[green]{NEr} (36)[blue]{t|f:Title} (30)[cyan]{b} (6f)[magenta]{l}
visualizer_output_name = Visualizer
connected_message_on_startup = no
header_visibility = no
mouse_list_scroll_whole_page= no
mouse_support = no
statusbar_visibility = no
progressbar_look = "   "
main_window_color = blue
autocenter_mode = yes
centered_cursor = yes
now_playing_prefix = "$b$6󰎆$9"
now_playing_suffix = "$/b"
