/* catppuccin_mocha Theme */

@define-color background #1e1e2e; /* background */
@define-color foreground #cdd6f4; /* foreground */
@define-color current_line #343442; /* current_line */
@define-color comment #535664; /* comment */
@define-color color0 #11111b; /* black */
@define-color color1 #f38ba8; /* red */
@define-color color2 #a6e3a1; /* green */
@define-color color3 #f9e2af; /* yellow */
@define-color color4 #89b4fa; /* blue */
@define-color color5 #cba6f7; /* magenta */
@define-color color6 #89dceb; /* cyan */
@define-color color7 #f5e0dc; /* white */
@define-color color8 #181825; /* black bright */
@define-color color9 #eba0ac; /* red bright */
@define-color color10 #94e2d5; /* green bright */
@define-color color11 #fab387; /* yellow bright */
@define-color color12 #b4befe; /* blue bright */
@define-color color13 #f5c2e7; /* magenta bright */
@define-color color14 #74c7ec; /* cyan bright */
@define-color color15 #f2cdcd; /* white bright */