/* eletro_base2 Theme */

@define-color background #081F1E; /* background */
@define-color foreground #F4F2EE; /* foreground */
@define-color current_line #203534; /* current_line */
@define-color comment #394b4a; /* comment */
@define-color color0 #081F1E; /* black */
@define-color color1 #5f8833; /* red */
@define-color color2 #5f8833; /* green */
@define-color color3 #5f8833; /* yellow */
@define-color color4 #2b7d5a; /* blue */
@define-color color5 #2b7d5a; /* magenta */
@define-color color6 #2b7d5a; /* cyan */
@define-color color7 #F4F2EE; /* white */
@define-color color8 #081F1E; /* black bright */
@define-color color9 #5f8833; /* red bright */
@define-color color10 #5f8833; /* green bright */
@define-color color11 #5f8833; /* yellow bright */
@define-color color12 #2b7d5a; /* blue bright */
@define-color color13 #2b7d5a; /* magenta bright */
@define-color color14 #2b7d5a; /* cyan bright */
@define-color color15 #F4F2EE; /* white bright */