/* everforest Theme */

@define-color background #293137; /* background */
@define-color foreground #d8caac; /* foreground */
@define-color current_line #32393f; /* current_line */
@define-color comment #868d80; /* comment */
@define-color color0 #4b565c; /* black */
@define-color color1 #e68183; /* red */
@define-color color2 #a7c080; /* green */
@define-color color3 #d9bb80; /* yellow */
@define-color color4 #83b6af; /* blue */
@define-color color5 #d39bb6; /* magenta */
@define-color color6 #87c095; /* cyan */
@define-color color7 #a7c080; /* white */
@define-color color8 #a7c080; /* black bright */
@define-color color9 #e68183; /* red bright */
@define-color color10 #a7c080; /* green bright */
@define-color color11 #d9bb80; /* yellow bright */
@define-color color12 #83b6af; /* blue bright */
@define-color color13 #d39bb6; /* magenta bright */
@define-color color14 #87c095; /* cyan bright */
@define-color color15 #868d80; /* white bright */